astroid==1.2.0
colorama==0.3.1
drest==0.9.12
Flask==0.10.1
httplib2==0.9
itsdangerous==0.24
Jinja2==2.7.3
logilab-common==0.62.0
MarkupSafe==0.23
mock==1.0.1
MySQL-Connector-Python==1.2.2
oauth2==1.5.211
py==1.4.21
pylint==1.2.1
pytest==2.5.2
requests==2.3.0
restorm==0.2
simplejson==3.6.0
slumber==0.6.0
Twisted==13.2.0
unittest2==0.5.1
Werkzeug==0.9.6
zope.interface==4.1.0
